<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">

      <div class="form-vertical">

        <h1 class="text-center">{{ shop.metafields.cf_app.account_edit_title }}</h1>

        {%- assign formId = 'RegisterForm' -%}
        
        {% include 'cf-app.customers.register' %}

      </div>
    </div>
  </div>
</div>
