<div class="page-width">
  <div class="grid">
    <div class="grid__item small--one-whole medium-up--one-whole">
      <h1 id="LoginHeading" class="text-center section-default_heading uppercase">{{ 'customer.login.title' | t }}</h1>
    </div>

    <div class="grid__item small--one-whole medium-up--one-half">
      <div class="form-message form-message--success hide" id="ResetSuccess" tabindex="-1">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="CustomerLoginForm" class="form-vertical">
      <!-- LOGIN IN START -->
        {% form 'customer_login', novalidate: 'novalidate' %}

        {%- if form.errors -%}
          <div class="form-message form-message--error">
            <h2 class="h3 form-message__title " tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}

        <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
        <input
          type="email"
          name="customer[email]"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {%- if form.errors contains 'form' -%}
            class="input--error"
            aria-invalid="true"
          {%- endif -%}
          >

        {% if form.password_needed %}
          <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
          <input
            type="password"
            value=""
            name="customer[password]"
            id="CustomerPassword"
            {%- if form.errors contains 'form' -%}
              class="input--error"
              aria-invalid="true"
            {%- endif -%}
          >
        {% endif %}

        <div>
          {% if form.password_needed %}
            <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
          {% endif %}
          <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
        </div>

        {% endform %}  
                             
        <!-- LOGIN IN END -->
      </div>
      <div id="RecoverPasswordForm" class="hide">

        <div class="text-center">
          <h2 id="RecoverHeading">{{ 'customer.recover_password.title' | t }}</h2>
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        <div class="form-vertical">
          {% form 'recover_customer_password' %}

            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}

            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              class="input-full{% if form.errors %} input--error{% endif %}"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
              {%- endif -%}
              >
            {%- if form.errors -%}
              <span id="RecoverEmail-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.messages['form'] }}</span>
              </span>
            {%- endif -%}

            <div>
              <p>
                <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
              </p>

              <a href="#LoginHeading" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
            </div>
          {% endform %}
        </div>

      </div>    
      

      {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {% endcomment %}
      {% if shop.checkout.guest_login %}
        <div>
          <hr class="hr--invisible">
          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
      {% endif %}
    </div>

    <div class="grid__item small--whole medium-up--one-half">
      <div class="customercreateaccount">
        <h4 class="section-default_subheading">New Customer?</h4>
        <p>Create an account with us and you'll be able to:</p>
        <ul>
          <li>Check out faster</li>
          <li>Save multiple shipping addresses</li>
          <li>Access your order history</li>
          <li>Track new orders</li>
          <li>Save items to your Wish List</li>
        </ul>
        <p>
          {{ 'layout.customer.create_account' | t | customer_register_link }}
        </p>    
      </div>          
    </div>    

  </div>
</div>
