<div class="page-width">
  <div class="grid">
    <div class="grid__item">

      <div class="form-vertical">
        <h1 class="text-center">{{ 'customer.register.title' | t }}</h1>
        {%- assign formId = 'RegisterForm' -%}
        {% include 'cf-app.customers.register' %}
      </div>
    </div>
  </div>
</div>
