<div class="page-width heading-text">
  <div class="grid">
    <div class="grid__item {% unless section.settings.full_width %} medium-up--two-thirds medium-up--push-one-sixth{% endunless %}">
      {% if section.settings.section_subtitle != blank %}
        <div class="rich-text__heading">
          <h2 class="section-default_subheading text-center">{{ section.settings.section_subtitle | escape }}</h2>
        </div>
      {% endif %}   
      {% if section.settings.section_title != blank %}
        <div class="rich-text__heading">
          <h1 class="section-default_heading text-center uppercase violet">{{ section.settings.section_title | escape }}</h1>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Heading text"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": {
        "en": "Wide display"
      }
    },
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Talk about your brand"
      }
    },
    {
      "type": "text",
      "id": "section_subtitle",
      "label": {
        "en": "Sub Heading"
      },
      "default": {
        "en": "Talk about your brand"
      }
    }
  ]
}
{% endschema %}
