<div class="page-width">
    <div class="faq-content-wrapper">
        <div class="container">
            <div class="grid__cell 1--handheld-and-up">
            {%- assign expand_questions = section.settings.expand_questions -%}
            {% assign c = 1 %}
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                {%- when 'separator' -%}
                    <h2 {{ block.shopify_attributes }}>{{ block.settings.title | escape }}</h2>
    
                {%- when 'page' -%}
                
                    <div class="faq__item faq-detail {% unless expand_questions %}faq__item--expandable{% endunless %}" {{ block.shopify_attributes }}>
                    <h5 class="faq__question {% unless expand_questions %}link{% endunless %}">{{ pages[block.settings.page].title | escape }}</h5>                 
                    <div class="faq__answer rte faq-content" style="display:none;">
                        {{ pages[block.settings.page].content }}
                    </div>
                    {% assign c = c | plus: 1 %}
                    </div>
                {%- endcase -%}
            {%- endfor -%}
            </div>
        </div>
    </div>
</div>
  {% schema %}
  {
    "name": "Product Accordion",
    "class": "shopify-section__faq",
    "settings": [
      {
        "type": "checkbox",
        "id": "expand_questions",
        "label": "Expand all questions by default",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "page_bgimg",
        "label": "Background Image"
      }
    ],
    "blocks": [
      {
        "type": "separator",
        "name": "Section separator",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        }
      ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "separator",
          "settings": {
            "title": "General"
          }
        }
      ]
    }
  }
  {% endschema %}