<div class="page-width rich-text">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="contactborder">
        {% if section.settings.section_title != blank %}
          <div class="text-center">
            <h2 class="h3">{{ section.settings.section_title | escape }}</h2>
          </div>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="rte-setting text-center">{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.phone != blank %}
          <div class="rte-setting text-center phone"><a href="tel:{{ section.settings.phone }}"><img src="{{ 'phone.png' | asset_url }}" alt="{{ section.settings.phone }}"> {{ section.settings.phone }}</a></div>
        {% endif %}
        {% if section.settings.email != blank %}
          <div class="rte-setting text-center email"><a href="mailto:{{ section.settings.email }}"><img src="{{ 'envelope.png' | asset_url }}" alt="{{ section.settings.email }}"> {{ section.settings.email }}</a></div>
        {% endif %}
        {% if section.settings.foottext != blank %}
          <div class="rte-setting text-center foottext">{{ section.settings.foottext }}</div>
        {% endif %}   
      </div>               
    </div>
  </div>
</div>
{% schema %}
{
  "name": {
    "en": "Rich text"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": {
        "en": "Wide display"
      }
    },
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Talk about your brand"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    },
    {
        "type": "text",
        "id": "phone",
        "label": {
            "en": "Phone"
        },
        "default": {
            "en": "877-381-3411"
        }
    },
    {
        "type": "text",
        "id": "email",
        "label": {
            "en": "Email"
        },
        "default": {
            "en": "support@markandday.com"
        }
    },
    {
        "type": "textarea",
        "id": "foottext",
        "label": {
          "en": "Foot Text"
        },
        "default": {
          "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
    }             
  ]
}
{% endschema %}
