<div class="page-width rich-text">
  <div class="grid">
    <div class="grid__item {% unless section.settings.full_width %} medium-up--two-thirds medium-up--push-one-sixth{% endunless %}">
      {% if section.settings.section_subtitle != blank %}
        <div class="rich-text__heading">
          <h2 class="section-default_subheading">{{ section.settings.section_subtitle | escape }}</h2>
        </div>
      {% endif %}   
      {% if section.settings.section_title != blank %}
        <div class="rich-text__heading">
          <h1 class="section-default_heading uppercase">{{ section.settings.section_title | escape }}</h1>
        </div>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rich-text__text--{{ section.settings.text_size }} rte-setting">{{ section.settings.text }}</div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "da": "RTF",
    "de": "Rich Text",
    "en": "Rich text",
    "es": "Texto enriquecido",
    "fi": "Rich text",
    "fr": "Texte enrichi",
    "hi": "रिच टेक्स्ट",
    "it": "Rich text",
    "ja": "リッチテキスト",
    "ko": "Rich text",
    "nb": "Rich text",
    "nl": "Tekst met opmaak",
    "pt-BR": "Rich text",
    "pt-PT": "Texto formatado",
    "sv": "Rich text",
    "th": "Rich Text",
    "zh-CN": "格式文本",
    "zh-TW": "RTF 文字"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": {
        "en": "Wide display"
      }
    },
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Talk about your brand"
      }
    },
    {
      "type": "text",
      "id": "section_subtitle",
      "label": {
        "en": "Sub Heading"
      },
      "default": {
        "en": "Talk about your brand"
      }
    },    
    {
      "type": "textarea",
      "id": "text",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    }
  ]
}
{% endschema %}
