<div class="page-width text">
  <div class="grid">
    <div class="grid__item {% unless section.settings.full_width %} medium-up--two-thirds medium-up--push-one-sixth{% endunless %}">
      {% if section.settings.text != blank %}
        <div class="rich-text__text--{{ section.settings.text_size }} rte-setting">{{ section.settings.text }}</div>
      {% endif %}
    </div>
  </div>
</div>



{% schema %}
{
  "name": {
    "en": "Text"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": {
        "da": "Bred visning",
        "de": "Breitbild-Display",
        "en": "Wide display",
        "es": "Pantalla ancha",
        "fi": "Laaja näyttö",
        "fr": "Affichage large",
        "hi": "चौड़ा डिस्प्ले",
        "it": "Visualizzazione ampia",
        "ja": "ワイドディスプレイ",
        "ko": "너비 표시",
        "nb": "Bred visning",
        "nl": "Brede weergave",
        "pt-BR": "Exibição ampla",
        "pt-PT": "Exibição ampla",
        "sv": "Breddvisning",
        "th": "การแสดงผลแบบกว้าง",
        "zh-CN": "宽显示屏",
        "zh-TW": "寬螢幕"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    }
  ]
}
{% endschema %}
