html, body, * {
    font-family: 'Barlow', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  
  .fa {
    font-family: FontAwesome !important;
  }
  
  p, li, span, ul, ol, div {
    font-size: 16px;
  }
  
  p {
    margin-bottom: 0;
  }
  
  .visually-hidden {
    height: 0;  }
  
  .main-content {
    p {
      margin-bottom: 15px;
    }
  }

/** FONT RESET **/
body, html, div,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', sans-serif !important;
    font-weight: 300;
}

b, strong {
  font-weight: 600;
}

//** DEFAULT **// 
.seventypercent:before,
.newproducts:before {
  content:"";
  position: absolute;
  top: -8px;
  right: 10px;
  width: 59px;
  height: 76px;
  z-index: 9;
}

.seventypercent:before {
  background:url('{{ '70percent.png' | asset_url }}') top right no-repeat;  
}

.newproducts:before  {
  background:url('{{ 'newprods.png' | asset_url }}') top right no-repeat;    
}

.section-default_heading {
  font-size: 2.125em;
  font-weight: 200!important;
  @media only screen and (min-width: 750px) {
    font-size: 50px;
  }    
}

.uppercase {
  text-transform: uppercase;
}

.violet {
  color: #7d5ba6;
}

.section-default_subheading {
  font-size: 16px;
  font-weight: 200!important;
  @media only screen and (min-width: 750px) {
    font-size: 24px;
  }     
}

//************** OVERRIDE **************//
.main-content {
  p {
    font-size: 18px;
  }
}
.page-width {
  max-width: 1170px;
  *zoom: 1;
  margin: 0 auto;  
  @media only screen and (min-width: 750px) {
    padding-left: 15px;
    padding-right: 15px;
  }    
  @media only screen and (max-width: 749px) {
    padding-left: 25px;
    padding-right: 25px;
  }         
}

//** HEADER **//
.site-nav {
  margin: 0 0 25px 0;
  a {
    text-transform: uppercase;
    color: #333333;
    padding: 3px 30px;
  }  
}

.site-header__icons {
  @media only screen and (max-width: 749px) {
    width: 33.33333%;
  }      
}

.site-header__icons-wrapper {
  font-size: 14px !important;
  font-family: 'Barlow', sans-serif !important;
  font-weight: 300 !important;   
  .accounts_holder {
    @media only screen and (min-width: 750px) {
      margin-right: 30px;
    }         
  } 
  .site-header__cart-count {
    display: inline;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0;
    top: 0;
    font-weight: bold;
    background: none;
    color: #333333;
    border-radius: unset;
    min-width: auto;
    height: auto;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    span {
      font-size: 14px;
      font-family: 'Barlow', sans-serif;
      font-weight: 300;
    }
  }
  
  .site-header__search-toggle {
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;  
  }
}

//** MENU **//

.site-nav--has-dropdown {
  &:hover {
    .site-nav__dropdown {
      opacity: 0 !important;
    }
  }    
  &.nav-hover {
    position: static;
    background: #ddd;
    &:hover {
      .site-nav__dropdown {
        opacity: 1 !important;
      }      
    }
    .site-nav__dropdown {
      width: 100%;
      z-index: 9999;
      padding: 40px 16%;
      background: #eee;  
      top: 100%;
      opacity: 1 !important;
      @media only screen and (max-width: 1180px) {
        padding: 40px 10%;
      }      
      li {
        margin: 0 10px 20px;
        display: inline-block;
        position: relative;
        width: calc(100% / 4 - 25px);
        border-bottom:solid 1px #ddd;
        @media only screen and (max-width: 1180px) {
          width: calc(100% / 3 - 25px);
        }
        @media only screen and (max-width: 768px) {
          width: 100%;
        }        
        a {
          padding: 0;
        }
      }
    }      
  }

}

//** SLIDESHOW **// 
.slideshow__text-wrap--desktop {
  @media only screen and (max-width: 749px) { 
    display: none;
    visibility: hidden;
  }
}

.slideshow__text-wrap--mobile {
  @media only screen and (max-width: 749px) { 
    margin: auto;
    max-width: 460px;
  }

  @media only screen and (max-width: 460px) { 
    margin: auto;
    max-width: 320px;
  }  
}

.slideshow__text-content {
  -ms-transform: none !important;
  -webkit-transform:none !important;
  transform: none !important;
  @media only screen and (min-width: 750px) { 
    transition: none !important;
    transition-delay: unset !important;
    width: 460px;
    max-width: 460px;
    height: 360px;
    position: absolute;
    right: 15%;
    bottom: -60px!important;
    z-index: 7;
    background: #fff;
    padding: 60px 70px !important;
    text-align: left !important;
    text-shadow: none !important;
  }

  @media only screen and (max-width: 749px) { 
    transition: none !important;
    transition-delay: unset !important;
    width: auto;
    max-width: 460px;
    background: #fff;
    padding: 60px 70px !important;
    text-align: left !important;
    text-shadow: none !important;
    margin: -120px auto 0;
    min-height: auto;
    height: auto;
  }  

  @media only screen and (max-width: 560px) { 
    padding: 40px 70px !important;
    margin: -90px auto 0;
  }

  @media only screen and (max-width: 460px) { 
    padding: 20px 30px !important;
    margin: -40px auto 0;
    max-width: 320px;
  }  

  .slideshow__subtitle--mobile, .slideshow__title--mobile, .slideshow__btn--mobile {
    display: block;
    font-weight: 300 !important;
  }
  
  .slideshow__title,
  .slideshow__title--mobile {
    @media only screen and (min-width: 750px) { 
      font-size: 46px;    
    }
    color: #7d5ba6;
    text-shadow: none !important;
  }

  .slideshow__subtitle--mobile,
  .slideshow__subtitle {
    @media only screen and (min-width: 750px) { 
      font-size: 30px;    
    }
    color: #666666;
    margin: 0 0 25px 0 !important;
    text-shadow: none !important;
  }

  .slideshow-text {
    @media only screen and (min-width: 750px) { 
      font-size: 18px;
    }    
  }

  .slideshow__btn, .slideshow__btn--mobile {
    @media only screen and (min-width: 750px) { 
      font-size: 18px;
    }    
    max-width: 210px;
    color: #666666;
    text-transform: uppercase;
    background: #fff;
    border:solid 1px #666666;
    margin: 0;
    border-radius: 0 !important;
    position: relative;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;        
  }

  .slideshow__btn:hover, .slideshow__btn--mobile:hover {
    color: #fff;
    background: #7d5ba6;
    border:solid 1px #7d5ba6;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;    
  }

  .slideshow__btn:after, .slideshow__btn--mobile:after {
    content: ' \003E';
    position: absolute;
    top: 50%;
    right: 10%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);    
  }

  .hl {
    border:solid  #7d5ba6;
    width: 85px;
    height: 6px;
    position: absolute;
    top: 85px;
    left: -30px;
    z-index: 9;
    @media only screen and (max-width: 460px) { 
      width: 50px;
      height: 6px;
      top: 40px;
      left: -30px;
    }
  }

}
.slideshow__controls {
  @media only screen and (min-width: 750px) { 
    position: absolute;
    top: 50%;
    right: 10px;
    bottom: auto !important;
    left: auto !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);    
  }     
  .slideshow__arrows {
    @media only screen and (min-width: 750px) { 
      background: none;
      display: block !important;
      width: auto !important;    
    }

    &:hover {
      @media only screen and (min-width: 750px) { 
        background: none;   
      } 
    }
    .slideshow__arrow-left,
    .slideshow__arrow-right {
      @media only screen and (min-width: 750px) { 
        display: none;
      }    
    }
  
    .slick-dots {
      display: block;
      margin: 0;
      li {
        margin: 10px !important;
        display: block;
      }
    }  
  }
  
}

//** WE GUARANTEE **// 
h2.guarantee-heading {
  color: #333333;
}

.guarantee-subheading {
  max-width: 550px;
  margin: 0 auto;
  p {
    font-size: 18px;
    color: #666666;
  }
}

div#shopify-section-feature-columns {
  .grid__item {
    @media only screen and (min-width: 750px) { 
      padding: 0 40px;
    }
    @media only screen and (max-width: 749px) { 
      margin-bottom: 25px;
      min-height: 220px;
    }    
  }
}

div#shopify-section-feature-columns .grid__item h3.h4 {
  text-transform: uppercase;
}


// Collection List //
.collectionlist-section {
  overflow: inherit;  
  @media only screen and (min-width: 750px) { 
    margin-bottom: 0;
  }   

  .grid--uniform:after {
    content: 'flickity';
    display: none; /* hide :after */
    @media screen and ( min-width: 750px ) {
      content: '';
    }
  }

  /* position dots up a bit */
  .flickity-page-dots {
    bottom: -22px;
  }
  /* dots are lines */
  .flickity-page-dots .dot {
    height: 4px;
    width: 60px;
    margin: 0;
    border-radius: 0;
  }  

  .grid__item {
    @media only screen and (min-width: 750px) { 
      padding-bottom: 40px;
    }       
  }

  .grid--uniform .medium-up--one-quarter:nth-child(4n+1) {
    clear: none;
  }  

  .collection-grid-item {
    padding-bottom: 0;

    a.collection-grid-item__link {
      position: relative;
      left: auto;
      top: auto; 
      bottom: auto;
      right:auto;
      width: 100%;
      height: auto;
      display: block;

      .collection-grid-item__overlay {
        position: relative;
        cursor: pointer;
  
        &:nth-of-type(-n+3) {
          height: auto;
          max-height: 240px;
          min-height: 240px;
        }  
      }        

      .btn_shopnow {
        display: none;
        color: #fff;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: #7d5ba6;
        padding: 15px 35px;
        width: 60%;
      }
 
    }

    .collection-grid-item__link:hover {
      .btn_shopnow {
        display: block; 
        z-index: 9;
      }
      &:before {
        transition: 0.3s;
        content: "";
        background: rgba(0,0,0,0.4);          
        width: 100%;
        height: 100%;          
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
      }      
    }
    
    .collection__title-wrapper {
      .collection__title {
        font-size: 20px;
        font-weight: 600;
        text-shadow: none;
        text-transform: uppercase;
        color: #333333; 
        text-align: center;
        margin: 10px 0 10px;
        position: relative;
        top: 0;
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);     
        @media only screen and (max-width: 749px) { 
          font-size: 14px;
          text-align: left;
        }  
      }      
    }  

  }
}


.subheading p {
  font-size: 18px;
  color: #666666;
}

//** NEWSLETTER **// 
.newsletter-section {
  .section-default_heading {
    color: #7d5ba6;
  }  
  .section-default_subheading {
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 0;
  }

  .form-single-field {
    max-width: 745px;
    position: relative;
  }  

  .input-group__field {
    margin-bottom: 0;
    min-height: 60px;
    @media only screen and (min-width: 750px) { 
      min-height: 65px;
    }       
  }

  #Subscribe {
    margin-left: -46px;
    text-indent: -9px;
    position: absolute;
    right: 10px;
    z-index: 9;
    width: auto;
    top: 10px;
    @media only screen and (min-width: 750px) { 
      top: 50%;    
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);    
    }
    background:url({{ 'submit_plane.png' | asset_url }}) top center no-repeat;
  }

}

//** BLOG SECTION **// 
//** NEWSLETTER **// 
.blogsection {
  .section-default_heading {
    color: #7d5ba6;
  }  
  .section-default_subheading {
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 0;
  }

  .article__date {
    font-size: 10px;
    font-weight: 600;
    color: #9e9e9e;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .article__title {
    color: #333333;
    font-weight: 500;
    margin-bottom: 30px;
    @media only screen and (min-width: 750px) { 
      font-size: 24px;
    }
  }
  .article__grid-excerpt {
    margin-bottom: 30px;
    font-size: 16px;
    color: #777777;
  } 

  .btn--tertiary {
    border: solid 1px #dcdcdc;
    border-radius: 0;
    font-size: 12px;
    color: #666666;
    font-weight: 300;
    padding: 12px 12px;
  }
  
  .article__grid-image-wrapper {
    @media only screen and (max-width: 749px) { 
      max-width: 100% !important;
    }

    .article__grid-image-container {
      @media only screen and (max-width: 749px) { 
        padding-top: 55% !important;
        margin-bottom: 0 !important;
      } 
      @media only screen and (max-width: 560px) { 
        padding-top: 75% !important;
        margin-bottom: 0 !important;
      } 
      @media only screen and (max-width: 510px) { 
        padding-top: 83% !important;
        margin-bottom: 0 !important;
      }       
      @media only screen and (max-width: 460px) { 
        padding-top: 90% !important;
        margin-bottom: 0 !important;
      } 
      @media only screen and (max-width: 380px) { 
        padding-top: 100% !important;
        margin-bottom: 0 !important;
      }                            
    }

    img {
      @media only screen and (max-width: 749px) { 
        max-width: 100% !important;
      }
    }
  }

}  

//** LATEST PRODUCTS **// 
.collectionsection {
  .grid--uniform:after {
    content: 'flickity';
    display: none; /* hide :after */
    @media screen and ( max-width: 749px ) {
      content: '';
    }
  }

  .flickity-enabled {
    overflow: inherit;
  
    .flickity-viewport {
      z-index: 7!important;   
      @media only screen and (min-width: 750px) { 
        min-height: 430px !important;
      }
    }
    .flickity-page-dots {
      display: none;
    }
  
    .flickity-prev-next-button {
      border-radius: unset;
      opacity: 0.8 !important;    
      z-index: 9!important;    
      top: 30%;
      transform: translateY(-30%);
      @media only screen and (min-width: 750px) { 
        width: 67px;
        height: 67px;    
      }    
  
      &.previous {
        -webkit-box-shadow: -15px 0px 12px -10px rgba(0,0,0,0.31);
        -moz-box-shadow: -15px 0px 12px -10px rgba(0,0,0,0.31);
        box-shadow: -15px 0px 12px -10px rgba(0,0,0,0.31);    
      }
      &.next {
        right: -20px;
        -webkit-box-shadow: 15px 0px 12px -10px rgba(0,0,0,0.31);
        -moz-box-shadow: 15px 0px 12px -10px rgba(0,0,0,0.31);
        box-shadow: 15px 0px 12px -10px rgba(0,0,0,0.31);    
      }    
    }
  
    .flickity-button:disabled {
      opacity: 0.8 !important;    
    }
  }  

  .btn {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    padding: 0;
    background: none;
    text-transform: capitalize;
    margin-top: 50px;
    &:hover {
      background: none;
      color: #999999;
    }
  }

  .grid-view-item {
    @media only screen and (min-width: 750px) { 
      margin-bottom: 0;
    }    
  }

  .product-card__title {
    font-size: 16px !important;
    color: #333 !important;
    @media only screen and (min-width: 750px) { 
      font-size: 18px !important;      
    }
  }

  .price, .price * {
    font-size: 18px;    
    color: #7d5ba6;
    @media only screen and (min-width: 750px) { 
      font-size: 24px;    
    }    
  }

  .text-m {
    display: none;
    visibility: hidden;
  }
}

//** TESTIMONIAL **// 
#shopify-section-1587767901441 {
  @media only screen and (min-width: 750px) { 
    padding-bottom: 0;
    background:url({{ 'testi_bg_02.jpg' | asset_url }}) bottom left no-repeat;
  }
}
.feature-row__text--left {
  @media only screen and (min-width: 750px) { 
    padding: 30px 30px 0 125px;
  }      
}

.flickity-viewport {
  transition: height 0.2s;
}

.feature-row__image-wrapper {
  @media only screen and (min-width: 750px) { 
    margin: 0 auto 0;
  }     
}

.testimonial_carousel {
  .carousel-cell {
    width: 100%;
    height: auto;
    counter-increment: gallery-cell;
  }

  h3.review_author {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 18px;
    color: #666666;
  }

  .customer {
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
  }

  .flickity-page-dots {
    bottom: 0;
    text-align: left;
    .dot {
      background: #e0e0e0;
      opacity: 1;
      &.is-selected {
        background: #7d5ba6;
      }
    }    
  }

  .fake_start-rating {
    width: 91px;
    height: 17px;
    background:url({{ 'starrating.png' | asset_url }}) center center no-repeat;
  }
  
}

//** VIDEO SECTION **// 
.video-section {
  @media only screen and (min-width: 750px) { 
    padding-top: 0;
  }
}

//** FOOTER **//
.site-footer {
  background:url({{ 'footer_bg.png' | asset_url }}) top center no-repeat;
  background-size:cover;

  .footer-logo {
    margin-bottom: 60px;
  }

  .site-footer__social-icons {
    @media only screen and (min-width: 750px) { 
      text-align: center;
    }        
  }

  .violet {
    color: #7d5ba6;
  }

  h4, .h4 {
    font-size: 24px !important;
    color: #333333 !important;
    font-family: 'Barlow', sans-serif;
    padding-bottom: 60px;
    position: relative;
  }

  h4:after, .h4:after {
    position: absolute;
    content: "";
    border:solid 4px #d5d5d5;
    height: 8px;
    width: 70px;
    left: 0;
    bottom: 20px;
  }

  .site-footer__linklist {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
  }

  .site-footer__linklist-item {
    @media only screen and (min-width: 750px) { 
      padding: 0 30px 0 0;
      font-size: 14px;
      margin-bottom: 20px;
      width: auto;
    }       
    a {
      @media only screen and (min-width: 750px) { 
        font-size: 14px;
      }            
    }
  }
     
  .site-footer__social-icons {
    margin-top: 15px;
  }
  
}

.mobile_logo {
  .site-header__logo {
    padding: 0;
    .site-header__logo-image {
      max-width: 250px;
      margin: 0 auto 30px !important;
    }       
  }
}

.mobiletext {
  .site-footer__rte {
    margin-bottom: 30px;
    @media only screen and (max-width: 749px) { 
      text-align: center;
    }  
    @media only screen and (max-width: 360px) { 
      text-align:left;
    }  
  }  
}

//** BC SF FILTER **// 
.collection_now_price,
#bc-sf-filter-products .grid-link__meta {
  color: #ba1c27;
  font-family: 'Barlow', sans-serif; 
  display: block;
  font-size: 16px;
  line-height: 1.5;
  .collection_now_price_holder {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
  }
}

//** CUSTOM MOBILE **// 

.small--show {
  &.search__mobile {
    margin: 15px 0;
    .search-bar__input {
      border-radius: 50px;
    }  
  }
}

.index-section--slideshow {
  .slideshow__arrows--mobile {
    display: none;
    visibility: hidden;
  }
}

//** LOGIN PAGE **// 
.customercreateaccount {
  border:solid 1px #CACACA;
  padding: 15px 20px;
  @media only screen and (min-width: 750px) { 
    padding: 50px 80px;
  }  
  ul {
    list-style: none; 
    padding-left: 1em;
    margin-bottom: 30px;
    display: inline-block;
    li {
      line-height: 22px;
      &:before {
        content: "\2022"; 
        font-weight: bold; 
        display: inline-block; 
        width: 1em;
        margin-left: -1em;      
        color: #8059aa;
      }
    }
  }

  #customer_register_link {
    background: #8059aa;
    color:#fff;
    padding: 15px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif !important;
    font-size: 18px;
  }
}

.form-vertical {
  [type="submit"], .btn {
    background: #8059aa;
    color:#fff;
    height: 63px;
    line-height: 63px;
    padding: 0 45px !important;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif !important;
    font-size: 18px;
    border-radius: 0;
    &:hover {
      background: #8059aa;
    }
  }

  input, select {
    height: 63px;
    line-height: 60px;
    color: #6b6d76;    
    padding: 0 15px;
  }  

  #RecoverPassword {
    color: #8059aa;
    font-size: 14px;
  }
}

//** REGISTER PAGE **// 
#create_customer {
 
  .cf-app__field.width-12-of-12 {
    @media only screen and (min-width: 600px) { 
      width: calc(100% / 12 * 6) !important;
    }
  }

  .cf-app__address-label {
    display: none;
    visibility: hidden;
  }

  .cf-app__field-type--checkboxes {
    .cf-app__field-label {
      display: none;
      visibility: hidden;      
    }

    &.cf-app__field.width-12-of-12 {
      @media only screen and (min-width: 600px) {
        width: calc(100% / 12 * 12) !important;
      }      
    }
  }

  [type="radio"], [type="checkbox"] {
    height: auto !important;
    line-height: 20px !important;
  }
}

//** PRODUCT TEMPLATE **// 
.template-product {

  #shopify-section-feature-columns {
    padding-top: 0;
    .guarantee-heading,
    .guarantee-subheading {
      display: none;
      visibility: hidden;
      margin: 0;
    }
  }

  #shopify-section-product-accordion {
    padding-top: 55px;
  }

  .faq-content-wrapper h2 {
    text-align: center;
    margin: 50px 0 30px;
  }
  .faq-detail{
    margin-bottom:20px;
    width:100%;
    border-bottom:1px solid #bbb;
    padding-bottom: 20px;
    &:nth-child(1) {
      border-top:1px solid #bbb;
      padding-top: 20px;
    }
  }
  .faq-detail h5{
    cursor:pointer;
    list-style:none;
    margin-bottom:0px;
    font-size:22px;
    font-weight:500;
    display:block;
    color:#4c5154;
    background:url(https://cdn.shopify.com/s/files/1/2494/0978/t/2/assets/icon-close.png) right center no-repeat;
    text-transform: uppercase;
    padding-right: 20px;
  }
  .faq-detail h5.active{
   background:url(https://cdn.shopify.com/s/files/1/2494/0978/t/2/assets/icon-opened.png) right center no-repeat;
   font-weight: bold;
  }
  .faq-detail h5 img{
   margin-right:10px;
   width:40px;
   display:inline-block;
   vertical-align:middle
  }
  .faq-content{
   border-radius:0 0 2px 2px;
   padding:20px 0px 0;
   width:100%
  }
  .faq-content p{
   margin-bottom:10px;
   overflow-wrap:break-word;
   font-size:16px;
   line-height:30px
  }
  .faq-content ol{
   margin-bottom:0;
   padding-left:50px
  }
  .faq-content ol li{
   padding-left:0;
   color:#000
  }
  .form-field-title {
    top: 0.5rem;
   font-size: 0.8125rem;
   -webkit-transition-delay: 0s;
   transition-delay: 0s;
  }
  .page-content .breadcrumbs-container {
    padding: 0px;
  }

  .product-single__thumbnail {
    border: none;
  }

  .product-single__thumbnails {
    margin-left: 6px;
    margin-right: 6px;
  }

  .shopify-payment-button__more-options {
    display: none;
    visibility: hidden;
  }

  .variantquantity, .variantsizes {
    width: 50%;
    display: inline;
    flex-wrap: unset;
    float: left;
    label {
      font-size: 18px;
      color: #333;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .product-form__controls-group--submit {
    clear: both;
  }

  .product-form__input--quantity {
    max-width: 100%;
  }

  .product-single__title {
    font-weight: 400;
  }

  .product-single__description {
    padding: 15px 6px 0;
    clear: both;
    display: inline-block;
    border-top:1px solid #bbb;
    margin-top: 15px;
    .product-single__description--text {
      font-size: 18px;
      color: #333;
      text-transform: uppercase;
      font-weight: 600;      
    }
  }

  .extras-holder {
    &:after {
      content: "";
      clear: both;
    }

    .yotporeviews,
    .variant-sku {
      float: left; 
      display: inline;
      font-size: 14px;
      color: #666666 !important;
    }

    .variant-sku {
      text-transform: uppercase;
    }

    .yotpo-bottomline {
      margin-right: 6px;
      padding-right: 30px;
      position: relative;      
      &:after {
        content:"";
        background:url({{ 'reviews.png' | asset_url }}) top center no-repeat;
        background-size: cover;
        padding-right: 22px;
        width: 18px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .product__price {
    clear: both;
  }
  
  .flashing_text {
    border-top:1px solid #bbb;
    padding-top: 15px;
    margin-top: 15px;
    clear: both;
    display: inline-block;

    .blinking a {
      animation:blinkingText 2s linear infinite;
    }
  }  

}

@keyframes blinkingText{
  0%{     color: #ba1c27;    }
  49%{    color: transparent; }
  50%{    color: transparent; }
  99%{    color:#ca6067;  }
  100%{   color: #ba1c27;    }
}   

//** ABOUT US **// 
.template--about-us-temporary {
  .slideshow__text-content {
    @media only screen and (min-width: 750px) { 
      right: auto;
      left: 15%;
    }  
    
    .hl {
      @media only screen and (min-width: 750px) { 
        height: 5px;
      }  
    }
  }

  #shopify-section-text-about {
    @media only screen and (min-width: 750px) { 
      padding-top: 0;
    }  
  }

  #shopify-section-rich-text-about {
    @media only screen and (min-width: 750px) { 
      padding-top: 0;
    }  
    .rich-text {
      .section-default_subheading {
        @media only screen and (min-width: 750px) { 
          margin-bottom: 0;
          line-height: 24px;
        }        
      }
  
      .section-default_heading {
        text-transform: uppercase;
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 30px;        
        @media only screen and (min-width: 750px) { 
          line-height: 50px;
        }    
        &:after {
          content: "";
          border: solid #7d5ba6;
          width: 150px;
          height: 5px;
          position: absolute;
          bottom: 0;
          left: 0;         
        }
      }
      ul {
        list-style-type: disc;
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        list-style-position: inside;  
        li {
          line-height: 22px;
          font-size: 18px;
          margin-bottom: 15px;
          padding: 0 20px;
          &:before {
            content: "\2022";
            font-weight: bold;
            display: inline-block;
            color: #8059aa;
            font-size: 32px;
            line-height: 22px;
            padding-right: 10px;
            margin-left: -20px;
          }
        }          
      }
    }  
    
  }

  #shopify-section-heading-text-about {
    .section-default_subheading {
      @media only screen and (min-width: 750px) { 
        max-width: 450px;
        margin: 0 auto;
        line-height: 24px;
      }        
    }

    .section-default_heading {
      text-transform: uppercase;
      @media only screen and (min-width: 750px) { 
        line-height: 50px;
      } 
    }
  }
}

//** CONTACT US **// 
.contactborder {
  font-size: 18px;
  border: solid 1px #d1d1d1;
  padding: 20px 30px;
  @media only screen and (min-width: 750px) { 
    padding: 60px 80px;
  }

  .foottext {
    font-size: 14px;
    a {
      color: #8059aa;
      font-size: 14px;
    }
  }

  .rte-setting {
    &.phone {
      @media only screen and (min-width: 750px) { 
        font-size: 20px;
        font-weight: 500;
      }      
    }
    &.email {
      @media only screen and (min-width: 750px) { 
        font-size: 20px;
        font-weight: 500;
      }      
    }    
    a {
      img {
        vertical-align: middle;
        margin-right: 6px;
      }          
    }
  }



}

.contact-form {
  &.form-vertical {
    [type="submit"], .btn {
      @media only screen and (min-width: 750px) { 
        float: right;
        font-size: 18px;
        font-weight: 300;
      }
    }      
  }
}

/*=================== Faq Page =====================*/

.template--faqs {
  .faq-content-wrapper h2 {
    text-align: center;
    margin: 50px 0 30px;
  }
  .faq-detail{
  margin-bottom:20px;
  width:100%;
    border-bottom:1px solid #bbb;
  padding-bottom: 20px;
  }
  .faq-detail h5{
    cursor:pointer;
    list-style:none;
    margin-bottom:0px;
    font-size:16px;
    font-weight:500;
    display:block;
    color:#4c5154;
    background:url(https://cdn.shopify.com/s/files/1/2494/0978/t/2/assets/icon-close.png) right center no-repeat;
    text-transform: uppercase;
    padding-right: 20px;
  }
  .faq-detail h5.active{
  background:url(https://cdn.shopify.com/s/files/1/2494/0978/t/2/assets/icon-opened.png) right center no-repeat;
  font-weight: bold;
  }
  .faq-detail h5 img{
  margin-right:10px;
  width:40px;
  display:inline-block;
  vertical-align:middle
  }
  .faq-content{
  border-radius:0 0 2px 2px;
  padding:20px 0px 0;
  width:100%
  }
  .faq-content p{
  margin-bottom:10px;
  overflow-wrap:break-word;
  font-size:16px;
  line-height:30px
  }
  .faq-content ol{
  margin-bottom:0;
  padding-left:50px
  }
  .faq-content ol li{
  padding-left:0;
  color:#000
  }
  .form-field-title {
    top: 0.5rem;
  font-size: 0.8125rem;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  }
  .page-content .breadcrumbs-container {
    padding: 0px;
  }
  
}

//** COLLECTION **// 
.template-collection {
  .filters-toolbar-wrapper {
    border: none;
    .filters-toolbar__item--count {
      min-width: 0;
      flex: 1 1 33%;
      -webkit-flex: 1 1 33%;
      -moz-flex: 1 1 33%;
      -ms-flex: 1 1 33%;    
      text-align: left;
    }
    .filters-toolbar__item-wrapper {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: auto;
      -webkit-flex: 0 1 auto;
      -moz-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
    }  
    .filters-toolbar__item-child:first-child {
      margin-right: 0;
    }
  }

  h3.filtertitle {
    height: 55px;
    line-height: 55px;
  }

  .bc-sf-filter-option-block {
    border: solid 1px #ededed !important;
    margin-bottom: 30px !important;
    padding: 0 !important;
    .bc-sf-filter-block-title {
      padding: 20px 20px 10px 20px !important;
      border-bottom: solid 1px #ededed!important;
    }    
    .bc-sf-filter-block-content {
      padding: 10px 20px 20px 20px !important;
    }

    .bc-sf-filter-option-view-more {
      padding: 0 20px 20px !important;
    }

    #bc-sf-filter-option-block-prices {
      max-height: 250px !important;
    }
  }

  .pagination {
    @media only screen and (min-width: 750px) { 
      text-align: left;
      padding-left: 30px;
    }
  }

}