{% section 'slideshow-about' %}
{% section 'feature-row-about' %}
{% section 'text-about' %}
{% section 'rich-text-about' %}
{% section 'heading-text-about' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
