<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="rte">
            {% section 'faq-accordion' %}
        </div> 
    </div>
  </div>
</div>