<div class="page-width">
    <div class="text-center">
      <h1 class="bc-sf-search-result-header h2">{{ 'general.search.title' | t }}</h1>
      <div class="grid">
        <div class="grid__item medium-up--two-fifths medium-up--push-three-tenths">
          <form action="/search" method="get" role="search" class="search">
            <div class="input-group">
              <input type="search"
                     class="input-group__field search__input"
                     name="q"
                     value="{{ search.terms | escape }}"
                     placeholder="{{ 'general.search.placeholder' | t }}"
                     aria-label="{{ 'general.search.placeholder' | t }}"
                     autofocus>
              <input type="search" id="SearchInput">
              <span class="input-group__btn">
                <button class="btn search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
              </span>
            </div>
          </form>
        </div>
      </div>

      <hr class="hr--small hr--invisible">
      <p class="bc-sf-search-result-number">
        {% include 'bc-sf-filter-skeleton', width: 2 %}
      </p>
  </div>
</div>

<div class="filters-toolbar-wrapper">
  <div class="page-width">
    <div class="filters-toolbar">
      <div class="filters-toolbar__item-wrapper">
        <div class="filters-toolbar__item-child" id="bc-sf-filter-top-sorting">
          {% include 'bc-sf-filter-skeleton', width: 2 %}
        </div>
      </div>
      <div class="filters-toolbar__item filters-toolbar__item--count">
        <span class="filters-toolbar__product-count" id="bc-sf-filter-total-product">
          {% include 'bc-sf-filter-skeleton', width: 2 %}
        </span>
      </div>

    </div>
  </div>
</div>

<div class="page-width">
  <div id="bc-sf-filter-tree-mobile">
    {% include 'bc-sf-filter-skeleton', type: 'button' %}
  </div>
  <div id="bc-sf-filter-wrapper">
    <div id="bc-sf-filter-tree">
      {% include 'bc-sf-filter-tree-placeholder' %}
    </div>
    <div id="bc-sf-filter-right">
      <div id="bc-sf-filter-products" class="grid grid--uniform grid--view-items">
        {% comment %} Fix Shopify search term report {% endcomment %}
        {% paginate search.results by 2 %}
          {% if search.performed %}
            {% for item in search.results %}
              <div class="grid__item" style="display: none !important"></div>
            {% endfor %}
          {% endif %}
        {% endpaginate %}
      </div>

      <div id="bc-sf-filter-bottom-pagination">
        {% include 'bc-sf-filter-skeleton', width: 2 %}
      </div>
      <div id="bc-sf-filter-load-more"></div>
    </div>
  </div>
</div>
    
<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Sorting" {% endunless %},
      sorting_best_selling: "Best Selling" ,
      sorting_featured: "Featured",
      sorting_title_ascending: "Alphabetically, A-Z",
      sorting_title_descending: "Alphabetically, Z-A",
      sorting_price_ascending:"Lowest Price",
      sorting_price_descending:"Highest Price",
      sorting_date_ascending:"Date, Old to New",
      sorting_date_descending:"Date, New to Old",
      sorting_relevance:"Relevance",
      search_general_title: {{ 'general.search.title' | t | json }},
      search_result_empty: {{ 'general.search.no_results_html' | t | json }},
      search_result_number_one: {{ 'general.search.results_with_count.one' | t | json }},
      search_result_number_other: {{ 'general.search.results_with_count.other' | t | json }},

      sale: {{ 'products.product.on_sale' | t | json }},
      sale_price: {{ 'products.product.sale_price' | t | json }},
      sold_out: {{ 'products.product.sold_out' | t | json }},
      vendor: {{ 'products.product.vendor' | t |json }},
      regular_price: {{ 'products.product.regular_price' | t | json }},
      items_with_count_one: {{ 'collections.general.items_with_count.one' | t | json}},
      items_with_count_other: {{ 'collections.general.items_with_count.other' | t | json }},
      current_page: {{ 'general.pagination.current_page' | t | json }},
    },
    custom: {
      products_per_page: 24,
      products_per_row: 4,
      product_grid_class: 'grid__item small--one-half medium-up--one-quarter',
      max_height: 250,
      vendor_enable: true,
      layout: "grid"
    }
  };

  var bcSfFilterTemplate = {
    'soldOutClass': 'product-price--sold-out grid-view-item--sold-out',

    // Grid Template
    'vendorGridHtml': {% render 'bc-sf-filter-html', layout: 'vendorGridHtml' %},
    'soldOutLabelGridHtml': {% render 'bc-sf-filter-html', layout: 'soldOutLabelGridHtml' %},
    'productGridItemHtml': {% render 'bc-sf-filter-html', layout: 'productGridItemHtml' %},
    // List Template
    'vendorSmallListHtml': {% render 'bc-sf-filter-html', layout: 'vendorSmallListHtml' %},
    'vendorMediumListHtml': {% render 'bc-sf-filter-html', layout: 'vendorMediumListHtml' %},
    'saleLabelListHtml': {% render 'bc-sf-filter-html', layout: 'saleLabelListHtml' %},
    'soldOutLabelListHtml': {% render 'bc-sf-filter-html', layout: 'soldOutLabelListHtml' %},
    'productListItemHtml':  {% render 'bc-sf-filter-html', layout: 'productListItemHtml' %},
      
      // Pagination Template
    'previousActiveHtml': {% render 'bc-sf-filter-html', layout: 'previousActiveHtml' %},
    'previousDisabledHtml': {% render 'bc-sf-filter-html', layout: 'previousDisabledHtml' %},
    'nextActiveHtml': {% render 'bc-sf-filter-html', layout: 'nextActiveHtml' %},
    'nextDisabledHtml': {% render 'bc-sf-filter-html', layout: 'nextDisabledHtml' %},
    'paginateHtml': {% render 'bc-sf-filter-html', layout: 'paginateHtml' %},

    // Sorting Template
    'sortingHtml': {% render 'bc-sf-filter-html', layout: 'sortingHtml' %},
  };
</script>